<!DOCTYPE html>
<html>
  <head>
    <title>StreetX</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag    'application', media: 'all' %>
    
    <script type="text/javascript">
      window.sauceURL = "<%= image_url('sauce.jpeg') %>"
    </script>

    <script type="text/javascript">
      window.streetxURL = "<%= image_url('StreetX.png') %>"
    </script>

    <script type="text/javascript">
      window.supremeURL = "<%= image_url('supreme.jpg') %>"
    </script>

    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
